body {
    font-family: Calibri, serif;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
}

table {
    display: block;
    width: fit-content;
    overflow: auto;
    margin: auto;
    table-layout: fixed;
}

td {
    vertical-align: baseline;
}

input[type=button], input[type=submit] {
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}