body {
    font-family: Calibri, serif;
    text-align: center;
}

table {
    display: block;
    width: fit-content;
    overflow: auto;
    margin: auto;
}

td {
    vertical-align: top;
}

input[type=button], input[type=submit], select, label {
    font-weight: bold;
    cursor: pointer;
}

.LEFT {
    text-align: left;
}

.CENTER {
    text-align: center;
}

.RIGHT {
    text-align: right;
}