<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ALL</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ENGINEER</role-name>
            <role-name>MANAGER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>ENGINEER</role-name>
    </security-role>
    <security-role>
        <role-name>MANAGER</role-name>
    </security-role>
    <welcome-file-list>
        <welcome-file>printer_filter.xhtml</welcome-file>
    </welcome-file-list>
</web-app>